.box {
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 5px solid;
    display: inline-block;
  }
  
  .first.box {
    box-sizing: content-box;
    background-color: skyblue;
  }
  
  .second.box {
    box-sizing: border-box;
    background-color: peachpuff;
  }

  